<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="de.florianm.android.routetracker">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<!-- need for Google Maps -->
<uses-feature android:glEsVersion="0x00020000" android:required="true" />

<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/maps_api_key" />

    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".preference.AppPreferenceActivity" android:exported="false"
        android:label="@string/preferences" />

    <activity
        android:name=".MapsActivity"
        android:label="@string/title_activity_maps"/>

    <service android:name=".location.GeofenceTransitionsIntentService">
        <intent-filter>
            <action
                android:name="de.florianm.android.routetracker.location.ACTION_FENCE_TRANSITION" />
        </intent-filter>
    </service>

    <provider android:name=".provider.RouteContentProvider"
        android:authorities="de.florianm.android.routetracker.provider"
        android:enabled="true" android:exported="false" />
</application>

</manifest>
